body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  text-align: center;
}

/* Header styles */

.header {
  background-color: #FD5D5D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 5px 20px 5px 20px;
}

.header-actions {
  margin-right: 30px;
}

.header-text {
  color: white;
  text-decoration: none;
}

.header-actions .header-button {
  color: white;
  text-decoration: none;
}

/* ChewReview form */

.form-container {
  display: flex;
  justify-content: space-around;
}

.review-form {
  width: 35%;
}

.form-top-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.form-top-row > * {
  width: 32%;
}

.form-bottom-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.form-bottom-row > * {
  width: 49%;
}

.review-form .select-dropdown {
  text-align: left;
}

.review-form .top-row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.add-review-text{
  font-size: 20px;
  margin-top: 8px;
}

.review-form .review-submit-button {
  margin-bottom: 30px;
}

/* Review dashboard */

.reviews-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
}

.greeting {
  font-weight: bold;
}

.review-form .write-review-button {
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#search-bar {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 20px;
  height: 40px;
  width: 350px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

#search-bar:hover {
  box-shadow: 0 0 5px rgb(180, 180, 180);
}

/* Review item */

.review {
  /* border: 1px solid black; */
  padding: 1rem;
  width: 400px;
  text-align: left;
  margin: 20px;
  height: 450px;
}

.review-row-header {
  display: flex;
  justify-content: space-between;
}

.review-row-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.review-row-content {
  height: 40px;
}

.review-row-food-specs {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.review-row-actions {
  display: flex;
  justify-content: space-between;
}

#star-icon {
  vertical-align: -5px;
}

.img-responsive {
  margin-bottom: 0.5rem;
  width: 100%;
}

/* Edit review form */

.edit-review {
  padding: 1rem;
  width: 400px;
  text-align: left;
  margin: 20px;
  height: 650px;
}

.edit-review .edit-restaurant  {
  margin-right: 5px;
  margin-top: 5px;
}

.edit-review .edit-rating  {
  margin-left: 5px;
  margin-top: 5px;
}

.edit-review .edit-location  {
  margin-top: 15px;
}

.edit-review .edit-food-specs  {
  margin-top: 70px;
}

.edit-review .close-button {
  margin-top: 5px;
}

/* Login form */

.login-div {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  padding: 2rem;
  width: 300px;
}

.login-form-group {
  margin: 20px 0px;
}

.register-redirect {
  text-align: left;
}

.register-link {
  color: #3773d4;
  text-decoration: none;
}

.login-img {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.loading-spinner {
  margin-top: 50px;
}